<div id="map">
  <h2>Where</h2>
  <div id="googleMap" style="height: 95vh;"></div>
</div>

<script>
  function initMap() {
    var locations = [
      {
        position: new google.maps.LatLng({{site.data.wedding.Ceremony.Location.Coordinates.Latitude}}, {{site.data.wedding.Ceremony.Location.Coordinates.Longitude}}),
        markerUrl: "{{ "/assets/images/map_markers/church-min.png" | relative_url }}",
        info:
          '<h1>{{site.data.wedding.Ceremony.Location.FriendlyName}}</h1><h2>Ceremony</h2>{{ site.data.wedding.Ceremony.Start | date: "%d/%m/%Y" }}<br/>Starts at {{ site.data.wedding.Ceremony.Start | date: "%H:%M" }}.<br/><a href="https://www.google.com/maps/dir/?api=1&destination_place_id={{site.data.wedding.Ceremony.Location.GoogleMapPlaceID | url_encode}}&destination={{site.data.wedding.Ceremony.Location.FriendlyName | url_encode}}" target="_blank">How to get there</a>'
      },
      {
        position: new google.maps.LatLng({{site.data.wedding.Reception.Location.Coordinates.Latitude}}, {{site.data.wedding.Reception.Location.Coordinates.Longitude}}),
        markerUrl: "{{ "/assets/images/map_markers/cake-min.png" | relative_url }}",
        info:
          '<h1>{{site.data.wedding.Reception.Location.FriendlyName}}</h1><h2>Reception</h2>{{ site.data.wedding.Reception.Start | date: "%d/%m/%Y" }}<br/>Starts at {{ site.data.wedding.Reception.Start | date: "%H:%M" }}.<br/><a href="https://www.google.com/maps/dir/?api=1&destination_place_id={{site.data.wedding.Ceremony.Reception.GoogleMapPlaceID | url_encode}}&destination={{site.data.wedding.Reception.Location.FriendlyName | url_encode}}" target="_blank">How to get there</a>'
      }
    ];
    var church = { lat: 35.826891, lng: 14.527366 };
    var map = new google.maps.Map(document.getElementById("googleMap"), {
      zoom: 16,
      streetViewControl: false,
      mapTypeControl: false,
      //gestureHandling: 'none',
      //zoomControl: false,
      disableDefaultUI: true,
      styles: [
        {
          elementType: "geometry",
          stylers: [
            {
              color: "#f5f5f5"
            }
          ]
        },
        {
          elementType: "labels.icon",
          stylers: [
            {
              visibility: "off"
            }
          ]
        },
        {
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#616161"
            }
          ]
        },
        {
          elementType: "labels.text.stroke",
          stylers: [
            {
              color: "#f5f5f5"
            }
          ]
        },
        {
          featureType: "administrative.land_parcel",
          elementType: "labels",
          stylers: [
            {
              visibility: "off"
            }
          ]
        },
        {
          featureType: "administrative.land_parcel",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#bdbdbd"
            }
          ]
        },
        {
          featureType: "poi",
          elementType: "geometry",
          stylers: [
            {
              color: "#eeeeee"
            }
          ]
        },
        {
          featureType: "poi",
          elementType: "labels.text",
          stylers: [
            {
              visibility: "off"
            }
          ]
        },
        {
          featureType: "poi",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#757575"
            }
          ]
        },
        {
          featureType: "poi.park",
          elementType: "geometry",
          stylers: [
            {
              color: "#e5e5e5"
            }
          ]
        },
        {
          featureType: "poi.park",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#9e9e9e"
            }
          ]
        },
        {
          featureType: "road",
          elementType: "geometry",
          stylers: [
            {
              color: "#ffffff"
            }
          ]
        },
        {
          featureType: "road.arterial",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#757575"
            }
          ]
        },
        {
          featureType: "road.highway",
          elementType: "geometry",
          stylers: [
            {
              color: "#dadada"
            }
          ]
        },
        {
          featureType: "road.highway",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#616161"
            }
          ]
        },
        {
          featureType: "road.local",
          elementType: "labels",
          stylers: [
            {
              visibility: "off"
            }
          ]
        },
        {
          featureType: "road.local",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#9e9e9e"
            }
          ]
        },
        {
          featureType: "transit.line",
          elementType: "geometry",
          stylers: [
            {
              color: "#e5e5e5"
            }
          ]
        },
        {
          featureType: "transit.station",
          elementType: "geometry",
          stylers: [
            {
              color: "#eeeeee"
            }
          ]
        },
        {
          featureType: "water",
          elementType: "geometry",
          stylers: [
            {
              color: "#c9c9c9"
            }
          ]
        },
        {
          featureType: "water",
          elementType: "labels.text.fill",
          stylers: [
            {
              color: "#9e9e9e"
            }
          ]
        }
      ]
    });

    var bounds = new google.maps.LatLngBounds();

    locations.forEach(location => {
      var marker = new google.maps.Marker({
        position: location.position,
        icon: {
          url: location.markerUrl,
          scaledSize: new google.maps.Size(50, 50),
          anchor: new google.maps.Point(25, 25)
        },
        map: map
      });
      bounds.extend(marker.position);
      var infoWindows = new google.maps.InfoWindow({
        content: location.info
      });
      infoWindows.open(map, marker);
      marker.addListener("click", function() {
        infoWindows.open(map, marker);
      });
    });

    map.fitBounds(bounds);
    var width = $(window).width();
    $(window).on("resize", function() {
      if ($(this).width() != width) {
        width = $(this).width();
        initMap();
      }
    });
  }
</script>

