#hashTag {
  a {
    display: block;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    background-color: #e9818c;
    margin: 0;
    padding: 25px 0;
    font-size: 6vmin;
    font-family: "Roboto Slab", serif;
    text-decoration: none;
    font-weight: bold;
  }
}
