//.gm-style-pbc {
//  opacity: 0 !important;
//  }

.gm-style-iw {
  h1,
  h2 {
    padding: 0 0 3px 0;
    margin: 0;
    text-align: left;
    background-color: transparent;
    line-height: 1em;
  }

  h1 {
    font-size: 16px;
    color: #e9818c;
  }

  h2 {
    font-size: 15px;
    color: #747474;
  }
}

.gm-style-iw {
  padding: 15px !important;
  margin: 0 !important;

  // button {
  //   display: none !important;
  // }
}

.gm-style-iw-d {
  overflow: auto !important;
}
