---
---
body {
    color: #444;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    background: url("{{ site.baseurl}}/assets/images/bg.png");
}