<!DOCTYPE html>

<html lang="en">
  <head>

    <title>
      #{{ site.data.wedding.HashTag }}
    </title>

    <link
      rel="stylesheet"
      href="{{ site.baseurl }}/assets/css/styles.css?{{
        site.time | date: '%s%N'
      }}"
    />

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}" />
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}" />
    <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | relative_url }}" color="{{site.theme-color}}" />
    <meta name="msapplication-TileColor" content="{{site.theme-color}}" />
    <meta name="theme-color" content="{{site.theme-color}}" />
    <link
      href="{{ "/splashscreens/iphone5_splash.png" | relative_url }}"
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    />
    <link
      href="{{ "/splashscreens/iphone6_splash.png" | relative_url }}"
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    />
    <link
      href="{{ "/splashscreens/iphoneplus_splash.png" | relative_url }}"
      media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
      rel="apple-touch-startup-image"
    />
    <link
      href="{{ "/splashscreens/iphonex_splash.png" | relative_url }}"
      media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
      rel="apple-touch-startup-image"
    />
    <link
      href="{{ "/splashscreens/iphonexr_splash.png" | relative_url }}"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    />
    <link
      href="{{ "/splashscreens/iphonexsmax_splash.png" | relative_url }}"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
      rel="apple-touch-startup-image"
    />
    <link
      href="{{ "/splashscreens/ipad_splash.png" | relative_url }}"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    />
    <link
      href="{{ "/splashscreens/ipadpro1_splash.png" | relative_url }}"
      media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    />
    <link
      href="{{ "/splashscreens/ipadpro3_splash.png" | relative_url }}"
      media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    />
    <link
      href="{{ "/splashscreens/ipadpro2_splash.png" | relative_url }}"
      media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <link rel="preconnect" href="https://maps.googleapis.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link rel="preconnect" href="https://maps.gstatic.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <meta
      name="description"
      content="To Fix"
    />
    <meta
      name="og:image"
      content="{{ "/assets/images/bannerHero.jpg" | absolute_url }}"
    />
  </head>

  <body>
    {{ content }}
    
    
  </body>
</html>
